/* #root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}

.bottom-buttons-container {
   position: fixed; /* or use 'absolute' depending on your layout */
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 20px;
   background-color: #414141; /* Optional background color for the container */
   text-align: center; /* Optional: Align button in the center */
} */
